<!DOCTYPE html>
<html>
<head>
    <title>Account List</title>
</head>
<body>
    <h2>Accounts</h2>
    <a href="{% url 'add_account' %}">Add New Account</a>
    <table border="1">
        <tr>
            <th>Customer</th>
            <th>Balance</th>
            <th>Account Type</th>
        </tr>
        {% for account in accounts %}
        <tr>
            <td>{{ account.customer.first_name }} {{ account.customer.last_name }}</td>
            <td>{{ account.balance }}</td>
            <td>{{ account.account_type }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
